.container{
    display:flexbox;
    padding: 10px;
    text-overflow: ellipsis;
}


.titulo{
    background-color: black;
    color: rgb(255, 255, 255);
    text-align: center;
    float: left;
    padding: 10px;
}

.imagen2{
    background-color: black;

}

#texto2{
    text-align: center;
    background-color: black;
    color: rgb(250, 250, 250);
    
}

#texto3{
    text-align: justify;
    padding: 1px;
}

#imag3{
    padding: 1px;

}

.h2{
    text-align: center;
}

body{
    padding: 10px;
}

#discografia{
    background-color: rgb(17, 17, 17);
    color: ivory;
    justify-content: center;
}

#tabla{
    padding: 10px;
    margin: 10px;
    text-align: center;

}

#textodis{
    text-align: justify;

}

#centrar{
    padding-top: 130px;
    background-color: rgb(216, 219, 221);
    
}

#imag4{
    padding: 10px;
}

